.img:hover {
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */

}

header {
  font-family: Futura, Arial, sans-serif;
  font-size: 54px;
 /* font-stretch: condensed;*/
  font-weight: bold;
  line-height: 34px;
  letter-spacing: 1px;
  color: #CCCCCC;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 700px;
  margin: auto;
}

body {
  background: #222222;
}

footer {
  color: #B8B8B8;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  width: 240px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  bottom:0;
  left: 30px;
}

#homepagefooter {
  margin: auto;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  letter-spacing: 5.2px;
  color: #CCCCCC;
  margin-top: 30px;
  font-weight: normal;
  width: 400px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #CCCCCC;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #CCCCCC;
  margin-top: 15px;
  margin-bottom: 5px;
}

p {
  color: #CCCCCC;
  font-family: 'Karma', serif;
  font-size: 18px;
  display: block;
  position: relative;
  float: left;
  width: 580px;
  margin-top: 0;
  line-height: 26px;
}

ul {
  color: #CCCCCC;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
  position: relative;
  float: left;
  width: 580px;
  margin-top: 0;
}

nav {
/*  position: fixed;
  display: block;*/
/*  padding-top: 8%;*/
/*  left: 3%;*/
  margin: auto;
  margin-top: 16%;
/*  float: left;*/
  width: 20px;
}

.casestudy {
  position: fixed;
  display: block;
/*  padding-top: 8%;*/
  left: 8%;
  margin: auto;
  margin-top: 1%;
  float: left;
  width: 20px;
}

.chakras {
  position: static;
  display: inline;
  padding-top: 8%;
/*  left: 3%;*/
  margin: auto;
  float: none;
  width: 20px;
}

img {
  width: 580px;
}

a {
  color: #CCCCCC;
 /* text-decoration: none;*/
}

nav a { 
  text-decoration: none;
  }

header a {
  text-decoration: none;
}

a:hover {
-webkit-animation:rainbow 5s infinite;
-ms-animation:rainbow 5s infinite;
-o-animation:rainbow 5s infinite;
animation:rainbow 5s infinite;
}

@-webkit-keyframes rainbow {
0% {color: #BD10E0;}
20% {color: #9013FE;}
40% {color: #4A90E2;}
60% {color: #7ED321;}
80% {color: #F5A623;}
100% {color: #EF1111;}
}

@-ms-keyframes rainbow {
0% {color: #BD10E0;}
20% {color: #9013FE;}
40% {color: #4A90E2;}
60% {color: #7ED321;}
80% {color: #F5A623;}
100% {color: #EF1111;}
}

@-o-keyframes rainbow {
0% {color: #BD10E0;}
20% {color: #9013FE;}
40% {color: #4A90E2;}
60% {color: #7ED321;}
80% {color: #F5A623;}
100% {color: #EF1111;}
}

@keyframes rainbow {
0% {color: #BD10E0;}
20% {color: #9013FE;}
40% {color: #4A90E2;}
60% {color: #7ED321;}
80% {color: #F5A623;}
100% {color: #EF1111;}
}

/*a:hover {
  animation-play-state: paused;
}*/

.caption {
  color: #CCCCCC;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-bottom: 20px;
  font-style: italic;
}

.fixed-border {
  background: #111111;
  position: fixed;
  z-index: 1000;
  opacity: 0.5;
}

.fixed-border.left, .fixed-border.right {
  top: 0; 
  bottom: 0;
  width: 27px;
}

.fixed-border.left { 
  left: 0; 
}

.fixed-border.right { 
  right: 0; 
}
    
.fixed-border.top, .fixed-border.bottom {
  left: 0; 
  right: 0;
  height: 27px;
}

.fixed-border.top { 
  top: 0; 
}
    
.fixed-border.bottom { 
  bottom: 0; 
}

.navitem {
  width: 20px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.nav-text {
  padding: 5px;
  color: #CCCCCC;
  position: relative;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  font-family: Futura, Arial, sans-serif;
  font-size: 16px;
  bottom: 8px;
  display: none;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 700px;
  display: inline-block;
}

.circle {
  margin: auto;
  background: #9013FE;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    opacity: 0.0;
    cursor: pointer;
}
.navitem:nth-of-type(1) .circle {
  -webkit-animation: pulsate 6s ease-out infinite;
}
.navitem:nth-of-type(2) .circle {
  -webkit-animation: pulsate 6.1s ease-out infinite;
}
.navitem:nth-of-type(3) .circle {
  -webkit-animation: pulsate 6.2s ease-out infinite;
}

.navitem:nth-of-type(4) .circle {
  -webkit-animation: pulsate 6.3s ease-out infinite;
}
.navitem:nth-of-type(5) .circle {
  -webkit-animation: pulsate 6.4s ease-out infinite;
}
.navitem:nth-of-type(6) .circle {
  -webkit-animation: pulsate 6.5s ease-out infinite;
}
.navitem:nth-of-type(7) .circle {
  -webkit-animation: pulsate 6.6s ease-out infinite;
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 1.0;}
    50% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
    100% {-webkit-transform: scale(0.5, 0.5); opacity: 1.0;}
}

.navitem .circle:hover {
  animation-play-state: paused;
}

.circle.circle-violet-open {
  background: #BD10E0;
}

.circle.circle-violet {
  background: #222222;
  border-style: solid;
  border-color: #BD10E0;
}

.circle-violet + .nav-text, 
.circle-violet-open + .nav-text{
  color: #BD10E0;
}

.circle.circle-indigo-open {
  background: #9013FE;
}

.circle.circle-indigo {
  background: #222222;
  border-style: solid;
  border-color: #9013FE;
}

.circle-indigo + .nav-text, 
.circle-indigo-open + .nav-text{
  color: #9013FE;
}

.circle.circle-blue-open {
  background: #4A90E2;
}

.circle.circle-blue {
  background: #222222;
  border-style: solid;
  border-color: #4A90E2;
}

.circle-blue + .nav-text, 
.circle-blue-open + .nav-text{
  color: #4A90E2;
}

.circle.circle-green-open {
  background: #7ED321;
}

.circle.circle-green {
  background: #222222;
  border-style: solid;
  border-color: #7ED321;
}

.circle-green + .nav-text, 
.circle-green-open + .nav-text{
  color: #7ED321;
}

.circle.circle-yellow-open {
  background: #F8E71C;
}

.circle.circle-yellow {
  background: #222222;
  border-style: solid;
  border-color: #F8E71C;
}

.circle-yellow + .nav-text, 
.circle-yellow-open + .nav-text{
  color: #FDE541;
}

.circle.circle-orange-open {
  background: #F5A623;
}

.circle.circle-orange {
  background: #222222;
  border-style: solid;
  border-color: #F5A623;
}

.circle-orange + .nav-text, 
.circle-orange-open + .nav-text{
  color: #F5A623;
}

.circle.circle-red-open {
  background: #EF1111;
}

.circle.circle-red {
  background: #222222;
  border-style: solid;
  border-color: #EF1111;
}

.circle-red + .nav-text, 
.circle-red-open + .nav-text{
  color: #EF1111;
}

.content{
  display: block;
  width: 580px;
  margin: auto;
}

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0; 
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/*.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay:0.3s;
  animation-delay: 0.3s;
}

.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
*/
#quote {
  color: #B8B8B8;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#profile {
  width: 150px;
  margin: auto;
    display: block;
    position: relative;
    padding-bottom: 20px;
}

#intro-page {
  margin-top: 40px;
}

/*@media screen and (max-width: 970px) {

header {
  width: 90%;
  margin: auto;
  font-size: 32px;
  padding-bottom: 0px;
}

p {
  display: inline-block;
  position: relative;
  width: 98%;
}

h3 {
  display: inline-block;
  position: relative;
  width: 80%;
  margin-top: 5px;
}


h4 {
  display: inline-block;
  position: relative;
  width: 98%;
  margin-top: 8px;
  text-align: left;
}

h1 {
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 10px;
  text-align: center;
  width: 90%
}

nav {
    position: relative;
    width: 220px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0%;
    float: none;
}

img {
  width: 98%;
  margin: auto;
}

ul {
  width: 98%;
}

footer {
  color: #B8B8B8;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  width: 240px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  position: static;
}

#homepagefooter {
  color: #B8B8B8;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  width: 240px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  position: static;
}

.content{
  display: block;
  width: 90%;
  margin: auto;
}

.navitem {
    display: inline;
    width: 100%;
    }

.nav-text {
  display: none;
}

#quote {
  display: none;
}*/

}