<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="fixed-border left"></div>
        <div class="fixed-border right"></div>
        <div class="fixed-border top"></div>
        <div class="fixed-border bottom"></div>
        <nav class="casestudy" id="chakras-left">
            <a class="navitem" href="/advance">
                <div class="circle circle-violet"></div>
            </a>
    
            <a class="navitem" href="/hearst">
                <div class="circle circle-indigo"></div>
            </a>
            <a class="navitem" href="/buttr">
                <div class="circle circle-blue-open"></div>
            </a>
            <a class="navitem" href="/alice">
                <div class="circle circle-green"></div>
            </a>
            <a class="navitem" href="/poncho">
                <div class="circle circle-yellow"></div>
            </a>
            <a class="navitem" href="/bonbite">
                <div class="circle circle-orange"></div>
            </a>
            <a class="navitem" href="/instaprint">
                <div class="circle circle-red"></div>
            </a>
        </nav>
            <h6 class="fade-in" id="homebutton"><a href="/">kurt yalcin</a> &middot; <a href="/about">about</a> &middot; <a href="/work">work</a></h6>
            <div class="content">
            <h2>BUTTR APP</h2>
			<img src="static/img/buttr.jpg" alt="the buttr app">
			<h4>Phase 1: Research</h4>
			<p>This is quite literally a pet project. The genesis of Buttr started with my family. My husband and I wanted to launch something that we would be useful for us and our friends. We decided to come up with a better kitchen timer than the default one on our phones. We started with features we thought would be helpful and confirmed if others would agree with in-person interviews and a survey. A majority of respondents mentioned a need to set intervals on a timer and have warnings before the timer goes off. In one-on-one interviews, more subtle emotions about cooking surfaced. One user described the moment a timer goes off perfectly: “I usually just panic.”</p>
			<img src="static/img/buttr4.jpg" alt="the buttr app survey">
			<h4>Phase 2: Organize</h4>
			<p>A majority of the organization phase came down to prioritization. It would be impossible to address all the issues in one fell swoop. By identifying and focusing on the main problem (setting a warning before the timer goes off), we were able to avoid scope creep and ship a MVP.</p>
			<img src="static/img/buttr2.jpg" alt="the buttr app">
			<h4>Phase 3: Design</h4>
			<p>Design started off with low-fidelity sketches and brainstorms. I developed multiple ways of setting a timer: keypad entry, timeline slider, circular dials. As the sketches developed into more concrete ideas, the layout of the app become clear and the design took shape. I also had a blast coming up with the style guide and animations for Butter, the cartoon dog.</p>
			<img src="static/img/buttr3.jpg" alt="the buttr designs">
			<h4>Phase 4: Test</h4>
			<p>Once the designs were coded, we sent beta tests to users and asked them to fill out surveys to identify where we could make improvements to the design. The best finding in our first round was that a user had no idea what the app was supposed to do. To solve this problem, we added tutorial speech bubbles for first time users that would give more context to how the app functioned.</p>
			<h4>Phase 5: Implement</h4>
			<p>Download the app in the <a href="https://itunes.apple.com/us/app/id1033885935">iTunes app store</a> and give it a whirl.</p>
		</div>
		<h6 id="quote">emotion is the heart of UX</h6>
	</body>
</html>