<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
        <!--So, I have to ask. What's your sign?-->
	</head>
	<body>
		<div class="fixed-border left"></div>
		<div class="fixed-border right"></div>
		<div class="fixed-border top"></div>
		<div class="fixed-border bottom"></div>
		<header>KURT DURAN YALCIN</header>
		<h1>User Experience Designer</h1>
		<nav>
			<a class="navitem" href="/">
				<div class="circle circle-violet"></div>
				<span class="nav-text">about</span>
			</a>
			<a class="navitem" href="/hearst">
				<div class="circle circle-indigo-open"></div>
				<span class="nav-text">hearst</span>
			</a>
			<a class="navitem" href="/buttr">
				<div class="circle circle-blue"></div>
				<span class="nav-text">buttr</span>
			</a>
			<a class="navitem" href="/alice">
				<div class="circle circle-green"></div>
				<span class="nav-text">alice</span>
			</a>
			<a class="navitem" href="/poncho">
				<div class="circle circle-yellow"></div>
				<span class="nav-text">poncho</span>
			</a>
			<a class="navitem" href="/bonbite">
				<div class="circle circle-orange"></div>
				<span class="nav-text">bonbite</span>
			</a>
			<a class="navitem" href="/instaprint">
				<div class="circle circle-red"></div>
				<span class="nav-text">instaprint</span>
			</a>
		</nav>
		<div class="content">
			<img src="static/img/hearstnewspapers.png" alt="hearst app">
			<h3>HEARST NEWSPAPERS</h3>
			<p>As the UX Architect at Hearst Newspapers, I am responsible for translating reader needs, business objectives, and technology capabilities into the navigation, organization, and interaction design specifications for the reading experiences on all the local Hearst newspaper properties. Below is an example of my design process with the <a href="https://itunes.apple.com/us/app/san-francisco-chronicle/id423260205?mt=8" target="_blank">San Francisco Chronicle app</a> as the model.</p>
			<h4>Phase 1: Research</h4>
			<p>Instead of waiting for inspiration to strike, I prefer to dive into data to prioritize the most crucial features and identify opportunities for improvement. Through a comprehensive survey of iPad readers in four premium markets, I aggregated the overall sentiment of users and determined the "low-hanging fruit" in making a better experience for readers. A competitive analysis and heuristic evaluation helped turn data into tangible designs.</p>
			<img src="static/img/hearst1.png" alt="hearst heuristic">
			<h4>Phase 2: Organize</h4>
			<p>I acted as the bridge between readers and stakeholders, finding middle ground between both parties. In order to strike a balance between user and business needs, I ensured that streamlining the producer workflow would allow readers to receive all the print content they were expecting. I also developed a layered update mechanism to curb the overwhelming influx of breaking news that the paper-prone, static iPad audience disliked.</p>
			<img src="static/img/hearst2.png" alt="hearst userflow">
			<h4>Phase 3: Design</h4>
			<p>After brainstorming with the design team, I consolidated the various ideas and solutions for navigation and flow into two main prototypes.</p>
			<img src="static/img/hearst3.png" alt="hearst prototypes">
			<h4>Phase 4: Test</h4>
			<p>I planned, recruited, wrote, and moderated usability tests in three cities to validate our design decisions and weed out any unnecessary elements. As is generally the case with usability tests, we were surprised to learn that even though a majority of the iPad readers viewed the app as a replacement for print, they were unenthusiastic of having a "Print" section in the app.</p>
			<img src="static/img/hearstnewspapers2.png" alt="hearst testing">
			<h4>Phase 5: Implement</h4>
			<p>The new app was released in the fall of 2015. Since the launch, the team as been actively iterating to address user feedback.</p>
		</div>
		<h6 id="quote">the user is always right.</h6>
	</body>

</html>