<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
        <!-- So, I have to ask. What's your sign?
                <table>
                  <tr>
                    <th>Sign</th>
                    <th>Date Range</th> 
                  </tr>
                  <tr>
                    <td>Aries</td>
                    <td>March 21 - April 19</td> 
                  </tr>
                </table> -->
    </head>
    <body>
        <div class="fixed-border left"></div>
        <div class="fixed-border right"></div>
        <div class="fixed-border top"></div>
        <div class="fixed-border bottom"></div>
        <header class="fade-in one">KURT DURAN YALCIN</header>
        <h1 class="fade-in two">User Experience Designer</h1>
        <nav>
            <a class="navitem" href="/">
                <div class="circle circle-violet-open"></div>
                <span class="nav-text">about</span>
            </a>
            <a class="navitem" href="/hearst">
                <div class="circle circle-indigo"></div>
                <span class="nav-text">hearst</span>
            </a>
            <a class="navitem" href="/buttr">
                <div class="circle circle-blue"></div>
                <span class="nav-text">buttr</span>
            </a>
            <a class="navitem" href="/alice">
                <div class="circle circle-green"></div>
                <span class="nav-text">alice</span>
            </a>
            <a class="navitem" href="/poncho">
                <div class="circle circle-yellow"></div>
                <span class="nav-text">poncho</span>
            </a>
            <a class="navitem" href="/bonbite">
                <div class="circle circle-orange"></div>
                <span class="nav-text">bonbite</span>
            </a>
            <a class="navitem" href="/instaprint">
                <div class="circle circle-red"></div>
                <span class="nav-text">instaprint</span>
            </a>
        </nav>
        <div class="content fade-in three">
        <img id="profile" src="static/img/profile.png" alt="profile picture">
        <p>Hey, there. My name's Kurt. I'm a User Experience Architect at Hearst Newspapers. When I'm not designing, I'm playing fetch with my maltipoo puppy in Brooklyn or reading up on the occult. You can reach me on <a href="https://twitter.com/kurtduranyalcin" target="_blank">twitter</a> or by <a href="mailto:kyalcin@gmail.com?subject=Hi!">email</a>. I hope our paths cross.</p>
        <ul>
        <li>Myers-Briggs Type: ESFP</li>
        <li>Astrological Sign: Aries</li>
        <li>Hogwarts House: Ravenclaw</li>
        </ul>
        <p>Need a traditional resume? Download my <a href="imgs/kurtyalcin_resume2016.pdf" download>curriculum vitae</a>.</p>
        </div>
        <h6 id="quote">the user is always right.</h6>
    </body>
</html>