<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="fixed-border left"></div>
        <div class="fixed-border right"></div>
        <div class="fixed-border top"></div>
        <div class="fixed-border bottom"></div>
        <nav class="casestudy" id="chakras-left">
            <a class="navitem" href="/advance">
                <div class="circle circle-violet"></div>
                <span class="nav-text nav-text-violet">advance</span>
            </a>
            <a class="navitem" href="/hearst">
                <div class="circle circle-indigo"></div>
                <span class="nav-text nav-text-indigo">hearst</span>
            </a>
            <a class="navitem" href="/buttr">
                <div class="circle circle-blue"></div>
                <span class="nav-text nav-text-blue">buttr</span>
            </a>
            <a class="navitem" href="/alice">
                <div class="circle circle-green"></div>
                <span class="nav-text nav-text-green">alice</span>
            </a>
            <a class="navitem" href="/poncho">
                <div class="circle circle-yellow"></div>
                <span class="nav-text nav-text-yellow">poncho</span>
            </a>
            <a class="navitem" href="/bonbite">
                <div class="circle circle-orange"></div>
                <span class="nav-text nav-text-orange">bonbite</span>
            </a>
            <a class="navitem" href="/instaprint">
                <div class="circle circle-red"></div>
                <span class="nav-text nav-text-red">other</span>
            </a>
        </nav>
        <h6 class="fade-in" id="homebutton"><a href="/">kurt yalcin</a> &middot; <a href="/about">about</a> &middot; <a href="/work" class="activelink">work</a></h6>
        <div class="content fade-in" id="intro-page">
        <h3>OVERVIEW</h3>
        <p>My portfolio was inspired by the seven chakras, an idea that we can reach enlightenment by breaking down barriers and tapping into our best energies. I believe user experience design requires the same level of awareness and effort in order to build memorable and meaningful experiences.</p>
        <div>
        <img class="logo" src="static/img/LOGO6.png" alt="">
        <img class="logo" src="static/img/LOGO5.png" alt="">
        <img class="logo" src="static/img/LOGO4.png" alt="">
        <img class="logo" src="static/img/LOGO3.png" alt="">
        <img class="logo" src="static/img/LOGO2.png" alt="">
        <img class="logo" src="static/img/LOGO1.png" alt="">
        </div>
    </div>
    </body>
</html>
