<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="fixed-border left"></div>
        <div class="fixed-border right"></div>
        <div class="fixed-border top"></div>
        <div class="fixed-border bottom"></div>


        <h1><a href="/">kurt yalcin</a> &middot; <a href="/about">about</a> &middot; <a href="/work" class="activelink">work</a></h1>

                <nav class="casestudy" id="chakras-left">
            <a class="navitem" href="/advance">
                <div class="circle circle-violet-open"></div>
                <span class="nav-text nav-text-violet">intrepid</span>
            </a>
            <a class="navitem" href="/hearst">
                <div class="circle circle-indigo"></div>
                <span class="nav-text nav-text-indigo">hearst</span>
            </a>
            <a class="navitem" href="/buttr">
                <div class="circle circle-blue"></div>
                <span class="nav-text nav-text-blue">buttr</span>
            </a>
            <a class="navitem" href="/alice">
                <div class="circle circle-green"></div>
                <span class="nav-text nav-text-green">alice</span>
            </a>
            <a class="navitem" href="/poncho">
                <div class="circle circle-yellow"></div>
                <span class="nav-text nav-text-yellow">poncho</span>
            </a>
            <a class="navitem" href="/bonbite">
                <div class="circle circle-orange"></div>
                <span class="nav-text nav-text-orange">bonbite</span>
            </a>
            <a class="navitem" href="/instaprint">
                <div class="circle circle-red"></div>
                <span class="nav-text nav-text-red">other</span>
            </a>
        </nav>
        <div id="intro-page"> 
        </div>

            <div class="content">
            <h3>INTREPID SEA, AIR & SPACE MUSEUM REDESIGN</h3>
            <p>“For me that’s kind of exciting; the fact that he’s exploring it in his own way is pretty cool.” -A father on his son’s experience visiting a museum</p>
            <img src="static/img/intrepid1.png" alt="project cover photo">
            <p>The goal of this website redesign project for a New York City non-profit, educational institution was to create a user-friendly and responsive website. My primary role on the project was a User Experience Designer and Information Architect.</p>

            <h4>Research Kickoff</h4>
            <p>My fellow Pratt students and I kicked off this student redesign project with a major research effort in order to better understand the Intrepid Museum’s main users. Each team member conducted user interviews, surveys, and observations. This case study shows the importance of balancing quantitative and qualitative data, triangulating research findings with a variety of methods, testing as often as possible, and putting users first. </p>
            <p>Our first research effort gave us the data needed to develop insights about typical museum visitors and create an evidence-based user persona. While the other team members researched the preferences, behaviors, and habits of educators, tourists, and students, I focused my research efforts on parents and families. In order to gather actionable feedback, I recruited caregivers for interviews to better understand a parent's context and motivations when planning museum trips for their family.</p>
            <p>I conducted an initial online survey with 12 questions. After receiving 19 responses, I marked the survey complete and followed up with two respondents for one-on-one interviews. One interview was held over the phone and another interview was held in-person. The two phone interviews provided a total of 30 minutes of qualitative data. I was able to develop a handful of insights from the discovery portion of the research phase.</p>
            <h4>Insights</h4>
            <p><em>The Museum Building is an Exhibit:</em> Parents appreciate museums that have safe spaces for children to play in. When exhibitions did not capture the children’s imagination, parents would rely on the museum’s exterior and interior space to provide entertainment for their children.</p>
            <p><em>Museums Provide Unique Learning Opportunities:</em> Parents expect museums to provide their children with a unique experience that they can not get at other venues such as art class or camp. The quality and caliber of the museum’s children programming should match the museum’s overall values.</p>
            <p><em>Positive Children Activities are a Draw :</em> The importance of children programming at a museum is varied. Family-friendly exhibits and facilities play a role in parents planning a trip, but it is not the only factor. Regardless, a robust programming for children is very rarely a deterrent for families to visit a museum.</p>
            <p><em>Museum Websites are a Pre-Trip Tool :</em> Museum websites are primarily consulted before a visit to the museum.Children very rarely visit museum sites with their parents, but parents may show photos to kids before a trip to gauge their interest in the museum.</p>

            <h4>Persona Creation</h4>
            <p>Armed with these insights, I set out to create a persona that would capture some of the needs and wants of parents visiting the Intrepid. I know that personas can be tricky things but for this project I found the persona rather useful. Erin Pace was designed with rich qualitative data and acted as a tool to streamline how I discussed my research findings with my larger team. Erin also become foundational in developing my user story and helped foster a user-centered design approach to the overall website redesign process.</p>
            <img src="static/img/intrepid2.png" alt="Intrepid Persona">

            <h4>Affinity Diagramming</h4>

            <p>Using Post-Its (surprise!), the team organized individual insights from user research into themes and bucketed issues into larger groupings. This helped identify the primary user needs and wants to help the team prioritize site features and give shape to the motivations and behaviors of a more general museum user.</p>

            <h4>Information Architecture</h4>

            <p>In order to better understand the user’s mental model, the team created a card sorting study and iterated and improved the findings from the card sort by testing out site structure through a tree study. We used both tests to recommend a more intuitive site map for a user-friendly navigation. </p>

            <p>We selected 39 second-level content labels from the Intrepid Museum’s current online site map. A few non-intuitive labels required revision (i.e. “Aircraft Collection” and “Exploreum Hall” were combined into the new label “Permanent Collection”), but the original labels were used for most of our cards. Third-level labels were subsumed into their parent label. After running a pilot test and refining our labels, 14 participants completed the final card sort. </p>
            <img src="static/img/intrepid3.png" alt="Card Sorting Similarity Matrix">

            <p>We began our analysis of the card sort results with the Similarity Matrix tool from OptimalSort. Using the clusters along the right edge of the matrix as a general guideline, we created 8 groups of cards. We only grouped cards with a pairing score of 71% or higher together which left 10 outlier cards. To find the appropriate groups for these outliers, we identified which categories they were sorted into by our participants using the Cards Analysis tool. Then, we looked at the Categories Analysis tool, and standardized similar categories (i.e. About/ About the Museum/About Us) to determine the most appropriate label for each group. </p>

            <p>We tested our proposed information architecture on 17 participants using a tree study. Three tasks had very low success rates (35-53% success), so we adjusted our navigation schema, revised the wording on two of our tasks, and retested with 7 new participants. The second tree study returned higher success rates for the same tasks (57-85% success).</p> 
            <img src="static/img/intrepid4.png" alt="graphs showing improvement in tree testing">

            <h4>Insights</h4>

            <p><em>Cards Not Easily Sorted Were Also Difficult to Find:</em> Content with low similarity scores in the card sort also received low success rates in the tree study. Initially, “About the Museum” was seen as the catch-all category for outliers. Participants encountered difficulty assigning cards like “videos”, “our neighborhood”, and “renting venue space” to groups. As a result, users took a variety of paths to find these items in our proposed site navigation. If “videos” is not required, we recommend it not be placed in the navigation stack and on a social media channel like YouTube instead. </p>
            <p><em>Re-testing Improved Placement of Specialized Content:</em> Participants were less successful in completing niche tasks. We reworded labels for items with the highest failure rate and retested for better results. For example, “school programming” became “field trips” in our second round. In the first tree test, only 35% of participants could find this item successfully. In the second test, 57% of participants found this item successfully. </p>

            <p><em>Users Have Preconceived Ideas on Where Things Belong:</em> For content labels that appear often on a variety of sites, observed participants had a strong mental model for where certain pages belonged. For example, the content for “volunteer” was successfully found by 100% of our participants in the first tree study as they automatically looked for it under “Opportunities”. </p>

            <p>Card sorting and tree jack testing and informed the development of the site map. </p>
            <img src="static/img/intrepid5.png" alt="intrepid museum sitemap">

            <p>The next step was to turn our data into designs. The team set out to develop a streamlined checkout flow for pre-ordering tickets online. We sketched out solutions for mobile and desktop. We tested our proposed design on paper with users. User feedback from testing our paper prototype suggested that we switch two areas -- About and Calendar -- to a more conventional spot.</p>

            <p>We took feedback from our paper prototyping tests and made edits to our designs when we converted the screens into wireframes. We learned that users wanted a checkout flow with only the necessary information and found ways to reduce the steps required to check out. We turned these wireframes into prototypes using Invision. At the end of the project, we had a heavily researched proposal for the Intrepid museum that considered their potential user and recommended ways to improve their site navigation, the site’s responsiveness, and optimizing their online checkout flow.</p>
















<!--             <img src="static/img/advance1.jpg" alt="photo gallery experience">
            <p>When I started at Advance, I was put in charge of their recently redesigned photo gallery and multimedia slideshow experiences. The company decided to move away from a clickbait gallery structure into a more seamless, scrollable experience. Readers enjoyed the design much more, but they weren't clicking into the new galleries because of the way they were embedded on the homepage.</p>
            <img src="static/img/advance2.png" alt="photo gallery experience">
            <p>My first task was to improve the photo gallery signifier with a new layout. I ran A/B tests to determine which designs caused the most click-through-rates. I created a collage design that increased the total CTR by one percent.</p>
             <img src="static/img/advance3.png" alt="photo gallery experience">
            <p>Now that we were getting users into the galleries, we had to deal with the quality of the experience as readers consumed content. Through unmoderated remote user testing, I discovered that many users were frustrated by bloated galleries. Not only were they expressing disdain for the redundancy of content, many never reached the bottom. Why were readers being subjected to overwhelming galleries? Why were slideshows so long? The design team took a trip to NJ.com's offices to inteview digital producers. My one-on-one interview with an editor revealed that writers were adding additional slides to photo galleries to increase the total number of pageviews each gallery receieved. Pageviews were measured by the number of ads shown in a gallery rather than the number of visits the content receieved. Producters were building around ads instead of the quality of content.</p>
            <img src="static/img/advance4.png" alt="photo gallery experience">
            <p>We returned to Advance's headquarters and planned a design sprint to make the photo gallery creation process easier and fail-proof. We invited producers to the office to collaborate in reimagining their admin tool. We came up with an easy way for producers that increased the efficieny of creating a gallery without allowing them to add additional empty slides in order to inflate their pageview numbers.</p>
            <img src="static/img/advance5.jpg" alt="photo gallery experience">
            <p>The work didn't end at the design solutions. We presented our findings about producers hacking the galleries for a single metric to stakeholders and convinced them to change the metric. We shifted their focus and incentive into engaging content, rather than revenue. Once the admin tool was realized, we noticed an improvement in user reactions when navigating through the new content.<p> -->
        </div>
<!-- <script src="../static/js/main.js"></script> -->
    </body>
</html>