<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
        <!--So, I have to ask. What's your sign?-->
	</head>
	<body>
		<div class="fixed-border left"></div>
		<div class="fixed-border right"></div>
		<div class="fixed-border top"></div>
		<div class="fixed-border bottom"></div>
		<header>KURT DURAN YALCIN</header>
		<h1>User Experience Designer</h1>
		<nav>
			<a class="navitem" href="/">
				<div class="circle circle-violet"></div>
				<span class="nav-text">about</span>
			</a>
			<a class="navitem" href="/hearst">
				<div class="circle circle-indigo"></div>
				<span class="nav-text">hearst</span>
			</a>
			<a class="navitem" href="/buttr">
				<div class="circle circle-blue"></div>
				<span class="nav-text">buttr</span>
			</a>
			<a class="navitem" href="/alice">
				<div class="circle circle-green"></div>
				<span class="nav-text">alice</span>
			</a>
			<a class="navitem" href="/poncho">
				<div class="circle circle-yellow"></div>
				<span class="nav-text">poncho</span>
			</a>
			<a class="navitem" href="/bonbite">
				<div class="circle circle-orange"></div>
				<span class="nav-text">bonbite</span>
			</a>
			<a class="navitem" href="/sweat">
				<div class="circle circle-red-open"></div>
				<span class="nav-text">sweat</span>
			</a>
		</nav>
		<div class="content">
		<img src="static/img/sweat.png" alt="sweat">
			<h3>SWEAT</h3>
			<h4>Phase 1: Research</h4>
			<p>During the interview with Abby, I uncovered a moment of frustration in her daily life. She would sign-up for Soulcycle classes in the morning, but often times the classes were booked. She would go home unhappy if she didn't go or find another fitness class to take its place.</p>
			<h4>Phase 2: Organize</h4>
			<p>I began by collecting information on Soulcycle and other complementary services like Equinox. I started out by using the Equinox mobile app to influence a new mobile app for Soulcycle, but realized that Abby needed more than a Soulcycle app. She needed a class aggregator app that would collect all the classes from her favorite facilites and have them in one place. This would allow her to easily compare schedules and book a class on the same day.</p>
			<h4>Phase 3: Design</h4>
			<p>My design went through massive overhauls to get to the final product. My last iteration was a simple class aggregator app that would provide Abby with classes based on her fitness preferences.</p>
			<h4>Phase 4: Test</h4>
			<p>The first version of Sweat confused many users. People wanted to be able to book from the app and book ahead of time. Fitness and class scheduling is a very habitual process and many users were expecting certain amounts of information. Through testing, I learned what information was crucial for a person to know before booking a class.</p>
			<h4>Phase 5: Implement</h4>
			<p>Check out the <a href="https://popapp.in/w/projects/53933b3aee1e69fe38251872/embedded/53933d2180b5bdd132cb67b2">prototype</a>.</p>
		</div>
		<h6 id="quote">the user is always right.</h6>
	</body>

</html>