<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kurt's Portfolio</title>
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-79197915-1', 'auto');
              ga('send', 'pageview');
        </script>
        <!--So, I have to ask. What's your sign?-->
	</head>
	<body>
		<div class="fixed-border left"></div>
		<div class="fixed-border right"></div>
		<div class="fixed-border top"></div>
		<div class="fixed-border bottom"></div>
		<header>KURT DURAN YALCIN</header>
		<h1>User Experience Designer</h1>
		<nav>
			<a class="navitem" href="/">
				<div class="circle circle-violet"></div>
				<span class="nav-text">about</span>
			</a>
			<a class="navitem" href="/hearst">
				<div class="circle circle-indigo"></div>
				<span class="nav-text">hearst</span>
			</a>
			<a class="navitem" href="/buttr">
				<div class="circle circle-blue"></div>
				<span class="nav-text">buttr</span>
			</a>
			<a class="navitem" href="/alice">
				<div class="circle circle-green-open"></div>
				<span class="nav-text">alice</span>
			</a>
			<a class="navitem" href="/poncho">
				<div class="circle circle-yellow"></div>
				<span class="nav-text">poncho</span>
			</a>
			<a class="navitem" href="/bonbite">
				<div class="circle circle-orange"></div>
				<span class="nav-text">bonbite</span>
			</a>
			<a class="navitem" href="/sweat">
				<div class="circle circle-red"></div>
				<span class="nav-text">sweat</span>
			</a>
		</nav>
		<div class="content" alt="alice app">
		<img src="static/img/alice.png">
			<h3>THE ALICE APP</h3>
			<h4>Phase 1: Research</h4>
			<p>For this particular project, I spent a majority of the research phase learning about the complex ticket management system that Alice had in place. By diving into the intricacies of the current software, I was able to suss out the fundamental use case and understand the dangerous pitfalls that faced the hotel staff.</p>
			<h4>Phase 2: Organize</h4>
			<p>AI sketched and sketched some more. Sketching allowed me to organize the information in new ways. I wanted to make sure the user wasn't given more than two options at any given moment when presented with a ticket. I decluttered and silenced the noise. In the end, the heavy amount of sketching helped simplify the interface and influenced the final design of the app.</p>
			<h4>Phase 3: Design</h4>
			<p>I took my sketches with me to the computer, sat down, and began developing digital wireframes. We went through four iterations total.</p>
			<h4>Phase 4: Test</h4>
			<p>User testing with employees as well as Hotel Managers allowed us to gather valuable feedback about the type of information that needed to be presented on the ticket screen. The manager at the Gansevoort Hotel had great feedback on what ticket information was unnecessary for the mobile app.</p>
			<h4>Phase 5: Implement</h4>
			<p>After four rounds of iteration, I handed the annotated wireframes off to the visual designer. The Alice employee app is now underway!</p>
		</div>
		<h6 id="quote">the user is always right.</h6>
	</body>

</html>